* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.wholepage {
    width: 100%;
    height: 4000px;
    background-color: #000;
}
@media (max-width: 600px){
    .wholepage {
        width: 100%;
    }

}

.openingTitle h1 {
    font-family: "Audiowide";
    font-size: 70px;
    text-align: center;
    color: #ffffff;
 
}

a {
    margin-right: 10px;
    font-family: "Audiowide";
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
}

a:hover {
    color: gray;
}

header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    z-index: 1;
    display: flex;
    position: sticky;
    top: 0;
    height: 10vh;
    margin: 0;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
}

.navbar .logo a {
    font-family: "Audiowide";
    margin-left: 20px;
    font-size: 3rem;
    font-weight: bold;
    text-align: left;
    padding-top: 200px;
}

@media screen and (max-width: 600px) {
    .navbar .logo a {
        width: 100%;
        font-size: 12px;
    }
    .navbar .links a{
        font-size: 10px;
    }
    .openingTitle h1 {
        font-size: 2rem;
        text-align: center;
    }
}

@media screen and (min-width: 601px) {
    .navbar .logo a {
        font-size: 48px;
    }
    .navbar .links a{
        font-size: 30px;
    }
}

.navbar .links {
    display: flex;
    gap: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.page2 {
}

.fullcontainer {
    height: 700px;
    width: 100%;
    background-color: #000;
    background-image: url(https://wallpapers.com/images/hd/4k-nba-lebron-james-23-y4rnwp30rrb1pv7u.jpg);
    filter: grayscale();
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

h1 {
    color: hsl(0, 0%, 4%);
    font-size: 3rem;
    padding-top: 350px;
    font-weight: 900;
    padding-bottom: 300px;
}

.abt {
    background-image: url(https://i.pinimg.com/564x/ed/8e/da/ed8edaaba91a1924f1688ff495fbd808.jpg);
    display: grid;
    background-repeat: no-repeat;
    align-items: top;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    height: 630px;
    padding-top: 90px;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.abt-box {
    width: 60%;
    height: auto;
    margin-left: 600px;
    margin-right: 200px;
    margin-bottom: 300px;
    background-color: #070707cc;
    border-radius: 1px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: solid white;

}

.abt-box h2 {
    margin-bottom: 10px;
    font-size: 3rem;
    font-family: "Audiowide";
}

.abt-box p {
    font-size: 1.5rem;
    font-family: "Roboto";
}

.legacy {

    background-color: #000;
    background-image: url(https://i.pinimg.com/564x/cd/27/1e/cd271ee841ce5d5590f7e1be5f20e90b.jpg);
    background-position: right;
    display: grid;
    background-repeat: no-repeat;
    align-items: top;
    margin-top: 120px;
    margin-left: 20px;
    margin-right: 20px;
    height: 630px;
    padding-top: 90px;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.legacy-box {
    width: 60%;
    height: auto;
    margin-left: 0; /* Adjust margin-left to 0 */
    margin-right: auto; /* Adjust margin-right to auto */
    margin-bottom: 300px;
    background-color: #070707cc;
    border-radius: px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: solid white;
}

.legacy-box h2 {
    margin-bottom: 10px;
    font-size: 3rem;
    font-family: "Audiowide";
}

.legacy-box p {
    font-size: 1.5rem;
    font-family: "Roboto";
}

.timelines {

    background-color: #000;
    background-image: url(https://i.pinimg.com/564x/5a/a1/67/5aa16708adafcc88904e28d3ca9a39a0.jpg);
    background-position: left;
    display: grid;
    background-repeat: no-repeat;
    align-items: top;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    height: 630px;
    
    padding-top: 90px;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.timeline-box {
    width: 60%;
    height: auto;
    margin-left: auto; /* Set margin-left to auto */
    margin-right: 0; /* Set margin-right to 0 */
    margin-bottom: 300px;
    background-color: #070707cc;
    border-radius: px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: solid white;
}


.timeline-box h2 {
    margin-bottom: 10px;
    font-size: 3rem;
    font-family: "Audiowide";
}

.timeline-box p {
    font-size: 1.5rem;
    font-family: "Roboto";
}

.championships {

    background-color: #000;
    background-image: url(https://i.pinimg.com/564x/21/8a/1f/218a1f1f33396a9322644a9768342314.jpg);
    background-position: right;
    display: grid;
    background-repeat: no-repeat;
    align-items: top;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    height: 630px;
    
    padding-top: 90px;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.championships-box {
    width: 60%;
    height: auto;
    margin-left: 0; /* Set margin-left to 0 */
    margin-right: auto; /* Set margin-right to auto */
    margin-bottom: 300px;
    background-color: #070707cc;
    border-radius: px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: solid white;
}



.championships-box h2 {
    margin-bottom: 10px;
    font-size: 3rem;
    font-family: "Audiowide";
}

.championships-box p {
    font-size: 1.5rem;
    font-family: "Roboto";
}